  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@400;500;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

  * {
      margin: 0;
      padding: 0;
      font-family: 'Lato', sans-serif;
      font-family: 'Poppins', sans-serif;
      font-family: 'Work Sans', sans-serif;
  }

  header {
      background-color: rgba(255, 144, 14, 0.10);
      padding-bottom: 30px;
  }

  nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .logo-text {
      font-size: 2.8rem;
      font-style: normal;
      font-weight: 700;
      padding: 20px 0px;
  }

  nav>ul {
      display: flex;
      /* justify-content: space-around; */
      align-items: center;
      list-style: none;
  }

  nav ul a {
      padding-left: 25px;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      text-decoration: none;
  }

  .banner,
  nav {
      padding: 0px 240px;
  }

  .banner-contain {
      margin: 0 auto;
      max-width: 868px;
      text-align: center;
  }

  .banner-tittle {
      color: #131313;
      font-size: 4rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding: 40px 0px 15px;
  }

  .banner-description {
      font-size: 1rem;
      color: #727272;
      font-weight: 400;
      padding: 15px 0px 30px;
  }

  .btn-primary {
      color: #FFF;
      font-size: 1.25rem;
      border-radius: 8px;
      background: #FF900E;
      padding: 15px 20px;
      border: 0;
  }

  .banner-img {
      margin-top: 50px;
      width: 100%;
  }

  /* Features style */
  .features-container {
      display: flex;
      align-items: center;
      margin: 30px 0px;
  }

  main {
      margin: 0px 240px;
  }


  .features-box-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
  }

  .features-img {
      width: 100%;
  }

  .features-contain {
      padding: 70px;
  }

  .features-description {
      color: #727272;
      max-width: 600px;
      font-size: 1rem;
      padding: 30px 0px;
  }

  .features-tittle {
      font-size: 2.5rem;

  }

  .quick {
      color: #727272;
      font-weight: 500;
  }

  .features {
      color: #FF900E;
      font-weight: 700;
  }

  @media screen and (max-width:576px) {

      .banner,
      nav,
      .features-contain {
          padding: 20px 20px;
      }

      nav,
      .features-container {
          flex-direction: column;
      }

      .features-box-container {
          grid-template-columns: repeat(1, 1fr);
      }

      main {
          margin: 0 20px;
      }

      .features-container {
          flex-direction: column-reverse;
      }
  }

  /* Medium devices  */
  @media screen and (min-width:576px) and (max-width: 960px) {

      .banner,
      nav,
      .features-contain {
          padding: 20px 20px;
      }

      .features-container {
          flex-direction: column-reverse;
      }

      main {
          margin: 0 10px;
      }
  }